@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
  font-family: 'LED Dot' !important;
  src: local('LED Dot'), url('./fonts/LED Dot-Matrix.ttf')format('truetype');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

}

h2{
  text-align: center;
  margin-top: 2rem;
  color: rgba(46, 120, 125);
  font-family: 'LED Dot' !important;
  src: local('LED Dot'), url('./fonts/LED Dot-Matrix.ttf')format('truetype');
}

#post{
  margin-left: 23%;
  padding: 10px;
  font-weight: bold;
  border-radius: 20px;

}

input{
  border-radius: 20px;
}
